.loading-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg);
  background-image: url(../../../public/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -10vh;
}

.loading-title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.loader {
  margin-top: 2vh;
  width: 10rem;
  height: 0.5rem;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(201, 201, 201, 1) 100%
    )
    0/0% no-repeat #b6b6b6;
  animation: l1 3s infinite linear;
}

@keyframes l1 {
  100% {
    background-size: 100%;
  }
}
